{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/dynamic_admin.js' %}"></script>
    <style>
        .required-label::after {
            content: " *";
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div>
        <label for="departement" class="required-label">Departement</label>
        <select id="departement" name="departement">
            <option value="">Select a Departement</option>
            {% for departement in departements %}
                <option value="{{ departement.id }}" {% if departement.id == booking.departement_id %}selected{% endif %}>
                    {{ departement.name }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endblock %}
